$lightblue:#0CA0D4;
$herogradient: linear-gradient(#2EB7D7 1%, #0098D3 100%);
$darkblue:#13215A;
$bg: #fff;
$buttongradient: linear-gradient(to right, #0198D3 1%, #32BAD7 100%);
$buttongradienthover: linear-gradient(to right, #0198D3 1%, #32BAD7 30%);
$buttongradienthover--right: linear-gradient($bg 15%, $lightblue 250%);

$arial: Arial, sans-serif;
